<section class="gic-passport">
  <div class="heading-title-wrap">
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">Get Your GIC Passport Trunquised</h2>
  </div>
  <div class="container">
    <div class="row gy-1 gx-1 hide-phone">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/1.jpg' %>" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/2.jpg' %>" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/3.jpg' %>" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/4.jpg' %>" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/5.jpg' %>/" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/6.jpg' %>/" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/7.jpg' %>/" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/8.jpg' %>/" alt="passport">
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="<%= asset_path 'GIC Passport/9.jpg' %>/" alt="passport">
      </div>
    </div>
    <div class="slider-passport hide-desktop">
      <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
        <swiper-slide><img src="<%= asset_path 'GIC Passport/1.jpg' %>" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/2.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/3.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/4.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/5.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/6.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/7.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/8.jpg' %>/" alt="passport"></swiper-slide>
        <swiper-slide><img src="<%= asset_path 'GIC Passport/9.jpg' %>/" alt="passport"></swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>