<section class="why-gic">
  <img class="doodle-img" src="<%= asset_path 'ghumo-india.png' %>" alt="doodle-why-gic">
  <div class="container">
    <!-- title -->
    <div class="common-heading-wrapper d-flex align-items-center justify-content-between">
      <div class="left-title" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="50">
        <h3>Why GIC?</h3>
        <h4>Why GIC?</h4>
        <span class="line-x"></span>
      </div>
    </div>
    <div class="row g-4 m-0 hide-phone">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Connect with Like-Minded Travelers</h3>
          <p>Join a diverse community of solo travelers from across India who share the same passion for exploration. Our trips are designed to foster connections, ensuring you vibe with others who prioritize experiences over destinations. It’s about building friendships that last beyond the journey.</p>
          <img src="<%= asset_path 'file1.png' %>" alt="card image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Explore Remote and Offbeat Destinations</h3>
          <p>Step away from the ordinary and dive into immersive, off-the-beaten-path experiences. Meet local tribes, engage in heritage and food walks, and explore regions untouched by mass tourism. Our trips bring you closer to the soul of India, offering unique stories and authentic interactions.</p>
          <img src="<%= asset_path 'file2.png' %>" alt="card image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Celebrate India’s Festivals Up Close</h3>
          <p>Experience the vibrant colors and deep-rooted traditions of India through its festivals. Our festival trips offer an unmatched opportunity to immerse yourself in the cultural heartbeat of the country, witnessing how festivals reveal the real India.</p>
          <img src="<%= asset_path 'file3.png' %>" alt="card image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Commit to Sustainable and Responsible Travel</h3>
          <p>We believe travel can be a force for good. By planting trees and promoting responsible tourism, we aim to make a positive impact on the world. Together, we have the power to shape a more sustainable future, one trip at a time.</p>
          <img src="<%= asset_path 'file4.png' %>" alt="card image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Limited Batch Size for Personalized Experiences</h3>
          <p>Our group sizes are kept intimate, with a maximum of 12 travelers, many of whom are solo explorers. This ensures personalized attention, safety, and the chance to form close bonds, especially for those traveling solo.</p>
          <img src="<%= asset_path 'file5.png' %>" alt="card image">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card-common">
          <h3>Travel with Experts and Creatives</h3>
          <p>Our trips are led by creators, artists, mountaineers, local guides, and seasoned storytellers. Each journey is enriched by their expertise, ensuring you gain deeper insights and create unforgettable memories with people who know the land best.</p>
          <img src="<%= asset_path 'file6.png' %>" alt="card image">
        </div>
      </div>
    </div>
    <div class="gic-cards show-phone">
      <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
        <swiper-slide>
          <div class="card-common">
            <h3>Connect with Like-Minded Travelers</h3>
            <p>Join a diverse community of solo travelers from across India who share the same passion for exploration. Our trips are designed to foster connections, ensuring you vibe with others who prioritize experiences over destinations. It’s about building friendships that last beyond the journey.</p>
            <img src="<%= asset_path 'file1.png' %>" alt="card image">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card-common">
            <h3>Explore Remote and Offbeat Destinations</h3>
            <p>Step away from the ordinary and dive into immersive, off-the-beaten-path experiences. Meet local tribes, engage in heritage and food walks, and explore regions untouched by mass tourism. Our trips bring you closer to the soul of India, offering unique stories and authentic interactions.</p>
            <img src="<%= asset_path 'file2.png' %>" alt="card image">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card-common">
            <h3>Celebrate India’s Festivals Up Close</h3>
            <p>Experience the vibrant colors and deep-rooted traditions of India through its festivals. Our festival trips offer an unmatched opportunity to immerse yourself in the cultural heartbeat of the country, witnessing how festivals reveal the real India.</p>
            <img src="<%= asset_path 'file3.png' %>" alt="card image">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card-common">
            <h3>Commit to Sustainable and Responsible Travel</h3>
            <p>We believe travel can be a force for good. By planting trees and promoting responsible tourism, we aim to make a positive impact on the world. Together, we have the power to shape a more sustainable future, one trip at a time.</p>
            <img src="<%= asset_path 'file4.png' %>" alt="card image">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card-common">
            <h3>Limited Batch Size for Personalized Experiences</h3>
            <p>Our group sizes are kept intimate, with a maximum of 12 travelers, many of whom are solo explorers. This ensures personalized attention, safety, and the chance to form close bonds, especially for those traveling solo.</p>
            <img src="<%= asset_path 'file5.png' %>" alt="card image">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="card-common">
            <h3>Travel with Experts and Creatives</h3>
            <p>Our trips are led by creators, artists, mountaineers, local guides, and seasoned storytellers. Each journey is enriched by their expertise, ensuring you gain deeper insights and create unforgettable memories with people who know the land best.</p>
            <img src="<%= asset_path 'file6.png' %>" alt="card image">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>