<!-- hero banner -->
<section class="hero-common-banner">
    <img src="<%= asset_path 'about-banner.jpg' %>" alt="hero images">
    <span class="overlay"></span>
    <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">About Us</h3>
</section>

<section class="container">
    <div class="about-us-main">
        <div class="about-details-wrapper">
            <div class="row">
             <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                 <div class="our-vision-cards right-line">
                    <img src="<%= asset_path 'vision.png' %>" alt="icons"> 
                    <h3>Vision</h3>
                    <p>Ghumo India Community is a travel community based in India that aims to promote responsible and sustainable tourism in the country.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
             <div class="our-vision-cards right-line">
                <img src="<%= asset_path 'mission.png' %>" alt="icons"> 
                <h3>Mission</h3>
                <p>Ghumo India Community is a travel community based in India that aims to promote responsible and sustainable tourism in the country.</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
         <div class="our-vision-cards">
            <img src="<%= asset_path 'values.png' %>" alt="icons"> 
            <h3>Values</h3>
            <p>Ghumo India Community is a travel community based in India that aims to promote responsible and sustainable tourism in the country.</p>
        </div>
    </div>
</div>
</div>
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="left-logo">
            <img data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50" src="<%= asset_path 'logo.svg' %>" alt="logo">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="about-us-details">
            <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">We Plan You Explore</h3>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">“Ghumo India Community is a travel community based in India that aims to promote responsible and sustainable tourism in the country. The community consists of individuals who are passionate about traveling and exploring different parts of India. They share their travel experiences, tips, and advice with fellow travelers through various online platforms such as social media, blogs, and forums.</p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">Ghumo India Community encourages travelers to explore offbeat destinations and to immerse themselves in local cultures. They also promote eco-tourism and responsible travel practices to help preserve the environment and support local communities.</p>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Overall, Ghumo India Community is a platform for like-minded travelers to connect, share their experience”</p>
        </div>
    </div>
</div>
<div class="our-concept-wrap">
    <h2>Our Concept</h2>
    <p>Our India is so diversities that we have Snow cold Himalayas to lush green Western ghats, Beaches to coral Islands, Desert to mangroves, Rainforest to tropical deciduous forest, Chola Architecture to Buddhist architecture, Active volcanoes to crater lakes; every state has different Cultures, Religion, food, people, and different language. Racism and discrimination have no place in our Global community. We are committed to improving diversity within all of our operations.
    The Unique trips with GIC happen only once a year; if you miss a Trip this year, you have to wait for Next year!</p>
</div>
</div>
</section>