<!-- hero banner -->
<section class="hero-common-banner">
    <img src="<%= asset_path 'photo-album.jpg' %>" alt="hero images">
    <span class="overlay"></span>
    <h3 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">Photo Album</h3>
</section>

<section class="photo-album">
    <div class="container">
        <div class="image-wrappper-list hide-phone">
            <img src="<%= asset_path 'Group photos/FullSizeRender(1).jpg' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/FullSizeRender(2).jpg' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/FullSizeRender.jpg' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7251.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7252.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7255.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7256.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7283.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7284.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7287.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7326.JPG' %>" alt="img wrapper">
            <img src="<%= asset_path 'Group photos/IMG_7325.JPG' %>" alt="img wrapper">
     </div>
     <div class="slider-passport hide-desktop">
        <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
            <swiper-slide><img src="<%= asset_path 'Group photos/FullSizeRender(1).jpg' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/FullSizeRender(2).jpg' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/FullSizeRender.jpg' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/IMG_7251.JPG' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/IMG_7252.JPG' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/IMG_7256.JPG' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/IMG_7283.JPG' %>" alt="passport"></swiper-slide>
            <swiper-slide><img src="<%= asset_path 'Group photos/IMG_7287.JPG' %>" alt="passport"></swiper-slide>
        </swiper-container>
    </div>
</div>
</section>